{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1>Commande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ command.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ command.date ? command.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ command.price }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ command.link }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_command_index') }}">Retour a la liste</a>

    <a href="{{ path('app_command_edit', {'id': command.id}) }}">Modifier</a>

    {{ include('command/_delete_form.html.twig') }}
{% endblock %}
