{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}

    <div class="panier-modal">
        <p class='nth-articles'>{{panier|length}} articles dans le panier</p>
        <div class="articles">
            {% for product in panier %}
                <article id="panier-{{ product.id }}">
                    <h5>{{ product.label }} <small>x {{ product.quantity }}</small></h5>
                    <p>{{  product.price * product.quantity }}€</p>
                    <a href="{{ path("removePanier", {"product" : product.id}) }}" class="remove small">Retirer</a>
                </article>
            {% else %}
                <p>Vous n'avez pas d'article dans votre panier</p>
            {% endfor %}
            {% if panier %}
                <a href="{{ path("see_panier")}}" class="btn btn-primary">Passer la commande</a>
            {% endif %}
        </div>
    </div>
    <h1>Liste des produits</h1>

    {% if 'ROLE_ADMIN' in app.user.roles %}
        <a href="{{ path('app_product_new') }}" class='btn btn-primary'>Create new</a>
    {% endif %}
    <div class="row">
        {% for product in products %}
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card" id='article-{{ product.id }}'>
                    <div class="card-header">{{ product.price }}€</div>
                    <div class="card-body">
                        <h4 class="card-title">{{ product.label }}</h4>
                        <p class="card-text">{{ product.description }}</p>
                            <a href="{{ path("addPanier", {"product" : product.id}) }}" class="btn btn-primary">Ajouter au panier</a> 
                    </div>
                </div>
            </div>
        {% else %}
            <h5 colspan="5">no records found</h5>
        {% endfor %}
    </div>
{% endblock %}
