<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        Welcome!
      {% endblock %}
    </title>
    <link rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>" />
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </head>
  <body>
    <header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand ms-2" href="{{ path("app_home") }}">Europlante</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        {% if app.user %}
              <li class="nav-item active">
      </li>

          {% if 'ROLE_ADMIN' in app.user.roles %}

      {# <li class="nav-item active">
        <a class="nav-link" href=""><span class="sr-only">Utilisateurs</span></a>
      </li> #}
          {% endif %}

            <li class="nav-item active">
        <a class="nav-link" href="{{ path('app_command_index') }}"><span class="sr-only">Commandes</span></a>
      </li>
            <li class="nav-item active">
        <a class="nav-link" href="{{ path('app_product_index') }}"><span class="sr-only">Produits</span></a>
      </li>

        <a class="nav-link" href="{{ path('app_logout') }}"><span class="sr-only ms-5">Se deconnecter</span></a>

        {% endif %}

    </ul>
  </div>
  {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
  {% if 'product' in currentPath %}
    <button class="btn btn-outline-success float-end me-2" id="open-panier">Voir le panier 
    {% if panier is defined %}
      {% if panier|length > 0 %}
        <span class="badge bg-danger">{{panier|length}}</span>
      {% endif %}
    {% endif %}
  </span>
  </button>
  {% endif %}
</nav>
    </header>
    <div class="container">
      {% block body %}

      {% endblock %}
    </div>
  </body>
</html>
